# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List popular laguages for Data Science;
- List commonly used libraries for Data Science;
- List polpular Data Science tools;
- Evaluate arythmetic expressions in Python;

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Scala
5. MatLab
6. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Keras
4. SciKit-learn
5. Tensor Flow
6. Matplotlib
7. Seaborn
8. Plotly

|Data Science Tools|
|-|
|Anaconda|
|Jupyter Notebook|
|VS Code|

Below are a few examples of evaluating arithmetic expressions in Python

In [19]:
#This a simple arithmetic expression to mutiply then add integers

In [21]:
(3*4)+5

17

In [25]:
#This will convert 200 minutes to hours by diving by 60.

200/60

3.3333333333333335

## Author
Diana Andreea Dudas